/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /*padding-top: 3rem;*/
  padding-bottom: 0rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 1rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 1rem;
  }
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

i.fa {
  padding: 10px;
}

section.footer-section {
  background: #472f7c42;
  padding-top: 20px;
  padding-bottom: 10px;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #3502ff2b , #2aff003d);
}

.carousel-caption-first-slide {
  bottom: 5rem !important;
  z-index: 10;
  position: absolute;
  right: 15%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.cart-count {
  background: red;
  color: white;
  vertical-align: -webkit-baseline-middle;
  padding: 0px 5px 0px 5px;
}

.carousel-item {
  background: url('/images/hosting-banner.jpg');
  background-size: 100% 100%;
}

.marketing:hover .col-lg-4:hover{
  /*border: 1px solid grey;*/
  border-radius: 5px;
  background: #78787829;
  box-shadow: 0px 0px 7px 1px lightblue;
}

p.heading {
  font-size: 18px;
}

section.pricing-section {
  background-color: #ECF4F7;
  padding: 40px 0px 40px 0px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.cart .btn {
  padding: 1px;
}

.cart a.btn.btn-warning, .cart a.btn.btn-success {
  padding: 6px 12px !important;
}

td.actions {
  text-align: center;
}

section.partners {
  background: #3399cc38 !important;
  padding: 40px 0px 40px 0px;
}

/* Media queries css  */
@media (max-width: 766px) {
  .visible-xs {
    display: block;
  }
}

@media (min-width: 767px) {
  .visible-xs {
    display: none;
  }
}

@media (max-width: 575px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 576px) {
  .hidden-xs {
    display: block;
  }
}

.custom-toast {
  background: deepskyblue;
  position: absolute;
  right: 5%;
  padding: 10px;
  top: 20%;
  color: black;
}

.img-responsive {
  width: 100%;
}

li.icon-fade:hover
{
  color: #0d6efd;
}